*.txt
*.json
bbs上介绍
犹豫了很久，还是觉得美好要自己主动追求，希望能借助这个平台，扩大自己的接触面，找到两情相悦的人
【基本情况】：浙江温州人，97年，现在是Thu博四研究生，航院理工科专业，本科大连理工大学，184.5/71
【家庭情况】：独生子，早年父母在外地做生意，然而没赚到大钱，所以家境一般。家庭氛围很好，每次回家都很开心
【生活方面】：个人性格比较活泼，但面对一群陌生人的时候会无所适从。平常喜欢运动，游泳、健身、各种球类（篮球、羽毛球、乒乓球），我不会玩的有人带我我也感兴趣，毕竟运动产生多巴胺，很快乐。不怎么打游戏（主要是菜），会玩玩股票看看投资的书，讲究资产的合理配置（没几个钱哈哈）。也向往自由，想到处旅游，然而受限于疫情...作罢。比较爱干净整洁（寝室卫生间都我打扫），也会用护肤品，不会邋遢，无不良癖好（除了偶尔报复性熬夜）。
【未来发展】：有不确定性，待在北京或者回南方的一二线城市，后者概率大一点。工作可能体制内外都会找，目前倾向于体制外
【感情经历】：高中谈过一个，毕业异地分手。大学谈过一个，异国分手，后又有接触，然而不复当初。所以不接受异地，希望发展能大致相同
【对Ta期待】：163+不胖，年龄+1-5，最好是南方人，家境颜值匹配即可，性格活泼开朗能聊得来，有自己的追求又能脚踏实地。
p.s. 喜欢运动加分，也期待TP-link哈哈
联系方式：
微信：nzh494473569 邮箱：494473569@qq.com
感兴趣的话来信麻烦介绍一下基本情况和生活照片，来信必回，脱单了就删帖。
